---
import classNames from "classnames";
import { normalizeCmsImage } from "../../../utils/common";

const {data} = Astro.props
---


<div
      class={classNames(
        data?.theme === 'white' && 'bg-white',
        data?.theme === 'black' && 'bg-[#191919]',
        'relative !m-0'
      )}
    >
      {data?.miscellaneousFigure?.map((item:any, index:number) => {
        const figure = normalizeCmsImage(item?.figure);

        return (
          <div
            
            class={classNames(
              'absolute',
              item?.alignment === 'Top-Left' && 'top-0 left-0',
              item?.alignment === 'Top-Right' && 'top-0 right-0',
              item?.alignment === 'Bottom-Left' && 'bottom-0 left-0',
              item?.alignment === 'Bottom-Right' && 'bottom-0 right-0',
              item?.alignment === 'Center-Left' && 'bottom-1/2 left-0',
              item?.alignment === 'Center-Right' && 'bottom-1/2 right-0'
            )}
          >
            <img
              src={figure?.url}
              alt={figure?.alternativeText}
              class="object-cover w-auto h-auto"
            />
          </div>
        );
      })}
      <div class="container mx-auto lg:px-10 px-5 lg:py-10 py-5">
        <h2
          class="font-medium text-lg lg:text-xl tracking-[0.02em] text-brand uppercase text-left overflow-hidden before:h-[2px]
             before:bg-brand before:inline-block before:relative before:align-middle 
             before:w-6 before:right-2  p-4"
        >
          {data?.heading}
        </h2>
        <h1
          class={classNames(
            'font-medium text-2xl lg:text-4xl tracking-[0.02em]  mb-4 lg:mb-8 text-left',
            data?.theme === 'white' && 'text-[#191919]',
            data?.theme === 'black' && 'text-white'
          )}
        >
          {data?.subHeading}
        </h1>
        <div class="flex flex-wrap items-center lg:justify-between justify-center gap-8 lg:gap-16">
          {data?.card?.map((_card:any, idx:number) => {
            const image = normalizeCmsImage(_card?.image);
            return (
              <figure
                
                class="max-w-[238px] flex flex-col items-center gap-5"
              >
                <img
                  src={image?.url}
                  alt={image?.alternativeText}
                  class="w-[200px] h-[200px] object-scale-down"
                />
                <p
                  class={classNames(
                    'font-medium tracking-[0.02em] text-center text-2xl !leading-[36px] text-white',
                    data?.theme === 'white' && 'text-[#191919]',
                    data?.theme === 'black' && 'text-white'
                  )}
                >
                  {_card?.description}
                </p>
              </figure>
            );
          })}
        </div>
      </div>
    </div>